.header {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
    margin: 100px 65px 100px 35px;
}


.no-mark {
    list-style-type: none;
}

.active-link {
    text-decoration: none;
}

.menu_list {
    list-style-type: circle;
    display: flex;
    gap: 34px;
}

a {
    display: block;
    line-height: 24px;
    font-size: 18px;
}

.logo_img {
    height: 105px;
    width: 135px;
}

.contacts {
    justify-self: end;
    font-weight: 400;
    font-size: 18px;
    font-style: normal;
    padding-right: 35px;
}

.cover {
    position: relative;
    background-image: url(../images/cover.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 0;
    left: 0;
}

.cover-content {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    padding: 40px;
    width: 100%;
}

.title {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 100px;
    color: #fff;
    letter-spacing: 30px;
    line-height: 115px;
    display: flex;
    flex-direction: column;
    margin-top: 120px;
}

.title-item-center {
    text-align: center;
    margin: 23px 0 20px 0px;
}

.title-item-right {
    text-align: right;
    margin: 0px -6px 0 0;
}

.subline-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 115px;
}

.subline {
    text-transform: uppercase;
    color: #fff;
    font-size: 22px;
    font-weight: 400;
    word-spacing: 18px;
    margin: 0px 0 15px 0;
}

.bet_button {
    border: solid 1px;
    width: 256px;
    height: 51px;
    text-transform: uppercase;
    color: #fff;
    background-color: transparent;
    font-weight: 500;
    font-size: 22px;
    text-decoration: none;
    line-height: 51px;
    text-align: center;
}

.lotes {
    margin-top: 140px;
}

.lotes_title {
    font-size: 40px;
    font-weight: 700;
    margin-left: 50px;
    color: #000;
    text-transform: uppercase;
    padding-top: 40px;
}
.lotes_list {
    margin-left: 10px;
    display: flex;
    gap: 24px;
    list-style-type: none;
    color: #fff;
    flex-wrap: wrap;
}

.lotes_list_item{
    width: 334px;
    min-height: 596px;
    margin-top: 30px;
    position: relative;
}

.lot_card, 
.lot_link {
    height: 100%;
    text-decoration: none;
}

.lot_card_title {
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 700;
    text-decoration: underline;
    line-height: 26.4px;
    z-index: 1;
    padding: 45px 40px 0;
}

.lot_card_text {
    padding: 0px 40px 50px 40px;    
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    z-index: 1;
}

.lot_card {
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.lot_image_film {
    background-image: url(../images/card-lot-01.jpg);
}
.lot_image_book {
    background-image: url(../images/card-lot-02.jpg);
}
.lot_image_paint {
    background-image: url(../images/card-lot-03.jpg);
}

.more {
    margin-top: 30px;
    margin-left: 50px;
    font-size: 20px;
    font-weight: 400;
    line-height: 23.48px;
}

.about {
    width: 100%;
    height: 100%;
    display: flex;
    margin: 150px 0 0 57px;
}

.background_logo {
    width: 310px;
    height: 240px;
    background-color: #000;
    border-radius: 100%;
    background-image: url(../images/logo-white.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 150px;
}

.description_box {
    width: 100%;
}

.about_title{
    text-transform: uppercase;
    font-weight: 700;
    font-size: 40px;
    line-height: 46.96px;
    margin: 105px 0 100px 70px;
}

.description_box_text {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    padding: 0 100px 22px 70px;
}

.footer {
    display: flex;
    justify-content: space-around;
    margin-top: 158px;
}

.footer_menu {
    text-align: center;
    font-size: 18px;
    font-weight: 400;
}

.footer_social_list {
    display: flex;
    gap: 48px;
}

.footer_social_list_item,
.footer_menu_item {
    list-style-type: none;
}

.footer_icon {
    width: 48px;
    height: 48px;
}


